{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About Us - WMGSIS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about-us.css' %}">
  </head>
  <body>
    <div id="header">
      <div id="logo">WMG Statistical Information System</div>
      <div id="nav">
        <a href=" {% url 'landing_page' %}">Home</a>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <button type="submit">Login</button>
        </form>
      </div>
    </div>
    <div id="banner">
      <h1>About Us</h1>
    </div>
    <main>
		<section id="background">
			<h2>Background</h2>
			<p>Statistics is quantitative indicators that have been researched on social groups, environments, situations, and phenomena. The statistical information can be used to identify how social phenomena are changing, and be the basis for recognising, analysing, and responding to problems to be. Moreover, as the era of the 4th industrial revolution such as IT-SW, AI, and big data begins, the importance of statistics is becoming more prominent. If this useful statistical information is applied to the educational aspect, it will be a basis for discovering various information for students and tutors, and solving various educational problems we will face in the future. However, unfortunately there is no online platform for universities to effectively manage, share, and check such statistical information. Therefore, a lot of information is still obtained and managed by hand, and such useful information is not shared at all via easy access.</p>
		</section>
		<section id="scenario">
			<h2>Scenario</h2>
			<p>Suppose that WMG is planning to develop a tailor-made system called WMG Statistical Information System (WMGSIS) to provide useful and diverse statistical information (SI) to students and tutors so that they can easily and quickly access the necessary information needed for WMG. For example, the WMGSIS may include annual SI on module satisfaction for each module. In this case, the input value will be the satisfaction of each module for the year, and the output can display various graphs based on the option selected.</p>
		</section>
		<section id="why-choose-us">
			<h2>Why Choose Us</h2>
			<ul>
				<li>Our platform provides easy access to important statistical information for WMG students and tutors.</li>
				<li>We offer a tailor-made system that caters to the specific needs of WMG.</li>
				<li>Our system is user-friendly and easy to navigate, allowing for quick and efficient access to the desired information.</li>
				<li>We provide diverse statistical information to ensure that all the necessary information needed for WMG is available.</li>
				<li>We are committed to continuously updating and improving our platform to meet the evolving needs of WMG.</li>
			</ul>
		</section>
	</main>
    <div id="footer">
        <p>&copy; 2023 U2161341 WMGSIS project. All rights reserved.</p>
    </div>
  </body>
</html>
