{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WMG Statistical Information System</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/landingPage.css' %}">
    </head>
    <body>
        <div id="header">
            <div id="logo">WMG Statistical Information System</div>
            <div id="nav">
                <a href="{% url 'about_us' %}">About Us</a>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
        <div id="banner">
            <h1>Welcome to WMGSIS!</h1>
        </div>
        <div id="content">
            <p>Providing useful and diverse statistical information to students and tutors.</p>
        </div>
        <div id="footer">
            <p>&copy; 2023 U2161341 WMGSIS project. All rights reserved.</p>
        </div>
    </body>
</html>