{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Module Satisfaction</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/module-satisfaction.css' %}">
</head>
<body>
	<div id="header">
		<div id="logo">U2161341 Project</div>
		<div id="login-info">Logged in: {{request.user}}</div>
		<form action="{% url 'logout' %}" method="post">
			{% csrf_token %}
			<button type="submit">Logout</button>
		</form>
	</div>

	<div class="main-container">

        <div class="side-section">
			<h3>Navigation</h3>
			<ul>
				<li><a href="#">Maths</a></li>
				<li><a href="#">Software Development</a></li>
				<li><a href="#">Programming</a></li>
				<li><a href="#">Networking</a></li>
			</ul>
		</div>

		
		<div class="satisfaction-container">
            <h1>Module Satisfaction</h1>
			<label for="satisfaction-slider">How satisfied are you with this module?</label>
			<input type="range" min="0" max="100" value="50" class="slider" id="satisfaction-slider">
			<span id="satisfaction-percentage">50%</span>
			<label for="satisfaction-comments">Comments:</label>
			<textarea id="satisfaction-comments"></textarea>
			<button id="submit-button">Submit</button>
			<p id="success-message" style="display: none;">Thank you for your feedback!</p>
		</div>
	</div>

    <script>
		var slider = document.getElementById("satisfaction-slider");
		var percentage = document.getElementById("satisfaction-percentage");
		percentage.innerHTML = slider.value + "%";

		slider.oninput = function() {
			var percentageVal = this.value + '%';
			percentage.innerHTML = percentageVal;
		}
	</script>
	
</body>
</html>
