{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Teacher Panel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/teacher-panel.css' %}">
    </head>
    <body>
        <div id="header">
            <div id="logo">U2161341 Project</div>
            <div id="login-info">Logged in: {{request.user}}</div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    
        <div class="main-container">
    
            <div class="side-section">
                <h3>Navigation</h3>
                <ul>
                    <form method="post">
                        {% csrf_token %}
                        <button id="module-satisfaction-btn" name="module-satisfaction">Module Satisfaction</button>
                        <button id="attendance-btn" name='attendance-btn'>Attendance</button>
                        <button id="grades-btn" name = 'grades-btn'>Grades</button>
                        <button id="diversity-btn" name="diversity-btn">Diversity</button>
                        <button id="course-registration-btn" name="course-registration-btn">Course Registration</button>
                        <button id="course-retention-btn" name="course-retention-btn">Course Retention</button>
                    </form>
                </ul>
            </div>
    
    
            <div class="teacher-container">
                <h1>Teacher Panel</h1>
                <p>Welcome to the teacher panel. Here you can manage your courses, assignments and students.</p>
    
                <div id="chart-container">
                    {% for chart in chart_data %}
                        <div style="float: left; width: 50%;">{{ chart.chart_div|safe }}</div>
                        {% if forloop.counter|divisibleby:2 %}
                            <div style="clear:both;"></div>
                        {% endif %}
                    {% endfor %}
                </div>
    
                
            </div>
        </div>
    
    </body>
    
</html>

