body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#header {
  background-color: #f2f2f2;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#nav a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

#nav a:hover {
  text-decoration: underline;
}

#nav button {
  background-color: #0077cc;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#nav button:hover {
  background-color: #005faa;
}

#banner {
  background-color: #b3d9ff;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: bold;
}

#banner h1 {
  margin: 0;
  padding: 0;
}

#content {
  background-color: #fff;
  padding: 20px;
  
}

#content h2 {
  margin-top: 0;
  padding-top: 0;
  font-size: 40px; 
  font-weight: bold;
  color: #333;
}

#content p {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.5;
  color: #000;
}

#footer {
  background-color: rgb(0, 0, 0); 
  color: #333; 
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
