body {
  background-color: #e6fbf6;
  font-family: Arial, sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #C7C7C7;
}

h1 {
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.btn {
  background-color: #333333;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #555555;
}

.error-message {
  color: red;
  font-size: 16px;
}
