body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

#header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#login-info {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.side-section {
  flex-basis: 250px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.satisfaction-container {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
  padding-top: 0;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.slider {
  width: 100%;
  margin-bottom: 20px;
}

#satisfaction-percentage {
  font-size: 24px;
  font-weight: bold;
  color: #0077cc;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
}


#submit-button {
  background-color: #0077cc;
  border: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  max-width: 150px;
}

#submit-button:hover {
  background-color: #005faa;
}

#success-message {
  font-size: 16px;
  font-weight: bold;
  color: green;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#header form {
  margin: 0;
}

#header form button {
  padding: 10px 20px;
  background-color: #0069d9;
  border-color: #0069d9;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
