body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

#header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#login-info {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.main-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.side-section {
    flex-basis: 250px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.teacher-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #999;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    padding-top: 0;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#load-charts {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#load-charts:hover {
    background-color: #3e8e41;
}

.chart-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
}

.chart-container > div {
    flex: 1 1 100%;
    max-width: 100%;
}

.chart {
    max-width: 100%;
}

/* Navigation Buttons */

.side-section form ul {
    padding: 0;
}

.side-section form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.side-section form button:hover {
    background-color: #0069d9;
}

/* Logout Button */

#header form {
    margin: 0;
}

#header form button {
    padding: 10px 20px;
    background-color: #0069d9;
    border-color: #0069d9;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}